@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.navbar-brand {
  color: blue;
}

.car {
  float: right;
  width: 100px;
  cursor: pointer;
}

.search-product {
  text-align: center;
}

.form-control {
  border-radius: 25px;
}

#coluna1{
  width: 25%;
  height: 100vw;
  float: left;
  padding: 25px;
  text-align: left;
}

.button {
  width: 200px;
  background-color: #eff2fa;
  border: none;
  border-radius: 6px;
  color: rgb(1, 0, 8);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

a:hover {
  color: rgb(8, 8, 8);
}

.button:hover {
  background-color: #d4d8df;
}

.filter {
  margin-top: 10px;
  padding-left: 40px;
  text-align: left;
}

.price-min {
  float: left;
  width: 95px;
}

.price-max {
  float: right;
  width: 95px;
}

#coluna2{
  width: 75%;
  float: right;
  padding: 5px;
  
}

.container {
  margin-left: 0;
  display: flex;
  width: 95%;
}

.card {
  height: 370px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0px 0px 51px -36px rgba(0, 0, 0, 1);
}

#footer {
  clear: both;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 912px) { 
  #coluna1{
    display: none;
    visibility: hidden;
  }
  #coluna2{
    padding: 20px;
    width: 100%;
  }
 }